header {
  margin: 25px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.lista {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

h2 {
  font-size: 25px;
  text-align: center;
}
