.forms-cadastro {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

.forms-cadastro form {
  width: 20%;
  background-color: #f2f2f2;
  border-radius: 20px;
  padding: 36px 64px;
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.08);
}

.forms-cadastro label {
  font-weight: 400;
}

.btInput {
  display: flex;
  justify-content: center;
}
